@font-face {
  font-family: "Squada One";
  src: url("../fonts/Squada_One/SquadaOne-Regular.ttf") format("truetype");
}

body {
  background-color: rgba(0,0,0,1);
  font-family: 'Squada One', Arial, Helvetica;
  color: white;
  margin: 0 4rem;
}

#scales-banner{
  font-size: 7em;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: scale-up;
  animation: scale-up 3.5s both;
}

.scales-banner--text{
  letter-spacing: 0.08em;
  color: rgba(0,255,255,1);
  text-shadow: 6px 6px 4px rgba(255,0,255,1);
  filter: blur(1px);
}

.scales-banner--text-shift{
  position: absolute;
  top:50%;
  left: 50%;
  letter-spacing: 0.08em;
  color: rgba(255,255,0,1);
  text-shadow: 7px 5px 3px rgba(0,0,0,1);
  transform: translate(-52%, -54.8%);
  z-index: 2;
}

#scales-banner h1 {
  margin: 0;
  padding: 0;
}

@keyframes scale-up {
  0% {font-size: 0.1em; opacity: 100%}
  40% {font-size: 7em; opacity: 100%}
  90% {font-size: 7em; opacity: 100%}
  100% {font-size: 7em; opacity: 0%}
}

#scales-logo{
  font-size: 3em;
  animation-name: show-logo;
  animation: show-logo 3.5s both;
}

.scales-logo--text{
  position: relative;
  margin-top: 18px;
  margin-left: 11px;
  letter-spacing: 0.08em;
  color: rgba(0,255,255,1);
  text-shadow: 2px 2px 4px rgba(255,0,255,1);
  filter: blur(1px);
}

.scales-logo--text-shift{
  position: absolute;
  top:14px;
  left: 14px;
  letter-spacing: 0.08em;
  color: rgba(255,255,0,1);
  text-shadow: 4px 3px 3px rgba(0,0,0,1);
  z-index: 2;
}


.scales-logo--text-shift {
  margin-top: 0;
  margin-left: 3.5rem;
  padding: 0;
}

@keyframes show-logo {
  0% { opacity: 0%;}
  90% { opacity: 0%; font-size: 0.1em;}
  100% { opacity: 100%; font-size: 3em;}
}

#scale-card{
  animation-name: show-scale-card;
  animation: show-scale-card 3.5s both;
}

@keyframes show-scale-card {
  0% { opacity: 0%;}
  90% { opacity: 0%; font-size: 0.1em;}
  100% { opacity: 100%; font-size: 3em;}
}

.scale-card--notes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  grid-gap: 1rem;
}

.scale-card--notes > div {
  /* background: rgba(0,255,255,1); */
  background: rgba(0,0,0,1);
  display: grid;
  place-items: center;
  box-shadow: 0 0 7px rgba(255,0,255, 1);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255,0,255,0.8);
  border-radius: 7px;
}

.scale-card--notes > div::before {
  content: "";
  padding-top: 100%;
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}

.scale-card--notes > div > span {
  text-align: center;
  color: rgba(255,255,0,1);
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  /* text-shadow: 3px 2px 6px rgba(0,0,0,1), -1px -1px 6px rgba(0,0,0,0.5); */
}
