@font-face {
  font-family: "Squada One";
  src: url("../fonts/Squada_One/SquadaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0,0,0,1);
  font-family: 'Titillium Web', sans-serif;
  color: white;
  margin: 2rem 3rem;
  height: 100%;
}

nav #scales-logo > img {
  /* height: 2rem; */
  height: calc(0.5 * (80vw / 7 - 5px));
  width: auto;
  margin-bottom: 2vw;
}

#input-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feelings-card {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#feeling-input-form--errors {
  list-style-type: none;
  color: rgba(255,0,255,1);
}

#feelings-show-card {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 20px;
}

#feelings-show-card > div {
  padding: 3px 10px;
  margin: 0px 10px 12px 0px;
  background-color: rgba(0,0,0,1);
  color: rgba(0,255,255,1);
  border-radius: 3px;
  border-color: rgba(0,255,255,1);
  border-style: solid;
  border-width: 2px;
}

#feeling-show-card:nth-child(1){
  margin-left: 0;
}

aside{
  display: flex;
  flex-direction: column;
  align-items: center;
}

select{
  background-color: black;
  font-size: 1.5rem;
  color: rgba(0,255,255,1);
  text-shadow: 2px 2px rgba(50,50,50,1);
}

#scale-name{
  width: 100%;
  font-size: 7.5rem;
  color: rgba(0,255,255,1);
  text-shadow: 2px 2px rgba(50,50,50,1);
}

#scale-name--text{
}

#scale-input-card {
}

#scales-banner{
}


@keyframes scale-up {
  0% {font-size: 0.1em; opacity: 100%}
  40% {font-size: 7em; opacity: 100%}
  90% {font-size: 7em; opacity: 100%}
  100% {font-size: 7em; opacity: 0%}
}

#scales-logo{
}

@keyframes show-logo {
  0% { opacity: 0%;}
  90% { opacity: 0%; font-size: 0.1em;}
  100% { opacity: 100%; font-size: 3em;}
}

#scale-card{
  animation-name: show-scale-card;
  animation: show-scale-card 0s both;
  margin-bottom: 1.5rem;
  font-family: 'Squada One', Arial, Helvetica;
}

@keyframes show-scale-card {
  0% { opacity: 0%;}
  90% { opacity: 0%; font-size: 0.1em;}
  100% { opacity: 100%; font-size: 3em;}
}

.scale-card--notes{
  display: flex;
  justify-content: space-between;
}

.scale-card--notes > div {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255,0,255,0.8);
  border-radius: 7px;
  width: calc(80vw / 7 - 5px);
  height: calc(80vw / 7 - 10px);
  font-size: calc(0.35 * (80vw / 7 - 5px));
}

.scale-card--notes > div > span {
  text-align: center;
  color: rgba(255,255,0,1);
  width: 100%;
  text-shadow: 2px 2px rgba(50,50,50,1);
  padding-top: 1vh;
}

.scale-card--note-card{
  background-image: radial-gradient(circle, black, rgba(255,0,255,0.1));
}

.scale-card--note-card:hover{
  background-image: radial-gradient(circle, black, rgba(255,0,255,0.6));
  box-shadow: 0 0 7px rgba(255,0,255, 1);
}

@media screen and (orientation:portrait) {
  h2 {
    font-size: 4vw;
  }


  nav #scales-logo > img {
    /* height: 9vw; */
    height: calc(0.5 * 80vh / 7 - 1vh);
    width: auto;
    margin-bottom: 2vh;
  }

  .scale-card--notes{
    display: flex;
    flex-direction: column;
  }

  .scale-card--notes > div {
    width: calc(80vh / 7 - 1vh);
    height: calc(80vh / 7 - 1vh);
    margin: 1vh 0;
    font-size: calc(0.4 * 80vh / 7 - 1vh);
  }

  #main-block {
    display: flex;
    justify-content: space-between;
  }

  #input-cards {
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  main {
    height: 55vh;

  }

  aside {
    align-items: start;
    order: -1;
    height: 25vh;
  }
}

@media screen and (orientation:landscape) {
}

@media screen and (min-width: 1200px) {
  body {
    margin: 2rem 15vw;
  }

  .scale-card--notes > div {
    width: calc(70vw / 7 - 3vh);
    height: calc(70vw / 7 - 3vh);
    margin: 2vw 0;
    font-size: calc(0.65 * (70vh / 7 - 3.3vh));
  }

  nav #scales-logo > img {
    /* height: 9vw; */
    height: calc(0.5 * 80vh / 7 - 1vh);
    width: auto;
    margin-bottom: 2vh;
  }
}
